<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/Main.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="components/header :: header"></header>
<div class="container mt-5">
    <div class="row" >
        <div class="col pt-3" th:each="el : ${products}">
            <div class="card">
                <img src="..." class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-title" th:text="${el.getName()}"></p>
                    <a th:href="${'/product/view?id='+el.getId()}" class="btn btn-outline-warning">О товаре</a>
                    <a th:href="${'/AdminPanel/product/edit?id='+el.getId()}" class="btn btn-outline-warning">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>