.card-body {
    padding: 1vw 1vw !important;
}

.btn-outline-warning {
    padding: 0.2vw 0.5vw !important;
    width: 10.5vw !important;
    height: 2.3vw !important;
    text-align: center !important;
    font-size: 1vw !important;
}

.card-body {
    font-size: 1vw !important;
}

.card-img-top {
    width: 17vw !important;
    height: 17vw !important;
}

.card {
    width: 18vw !important;
    height: 19vw !important;
}
.row{
    --bs-gutter-x: 0 !important;
}