<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register/accept}" th:object="${User}"method="post">
    <input type="text" name="username" id="username" th:field="*{username}">
    <input type="text" name="mail" id="mail" th:field="*{mail}">
    <input type="text" name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}">
    <input type="password" name="password" id="password" th:field="*{passwordHash}">
    <input type="submit">
</form>
</body>
</html>